<section class="listings-navigation-container">
    <div class="filter-options">
        <ul class="filter-lists">
        <li class="filter-item">
            <p>რეგიონი <i class="fa-solid fa-chevron-down"></i>
            </p>
            </li>
    <li class="filter-item"> <p>საფასო კატეგორია <i class="fa-solid fa-chevron-down"></i></p>
      </li>
    <li class="filter-item"> <p>ფართობი <i class="fa-solid fa-chevron-down"></i></p>
        </li>
    <li class="filter-item"> <p>საძინებლების რაოდენობა <i class="fa-solid fa-chevron-down"></i></p>
       </li>
    </ul>
   </div>
    <div class="add-btns-container">
        <button class="add-listing-btn">+ ლისტინგის დამატება</button>
        <button class="add-agent-btn">+ აგენტის დამატება</button>
    </div>
   </section>
   <app-filteres-container></app-filteres-container>
   <app-regions-form></app-regions-form>
   
