.area-form{
    padding: 10px;
    width: 200px;
    margin-top: 15px;
    left: 40%;
    max-width: 500px;
    
}

@media screen and (min-width:375px) {
    .area-form{
         left:calc(100vw - 55vw);
      }
}
 
@media screen and (min-width:500px) {
    .area-form{
       left:calc(100vw - 50vw);
        width: 240px;
         }
}
 

    @media screen and (min-width:732px){
        .area-form{
          width: 340px; 
        }
    }
    
    @media screen and (min-width:1400px){
        .area-form{
          width: 500px; 
        }
    }

    @media screen and (min-width:1600px){
        .area-form{
            left:50%
        }
    }
    
