<section class="area-form">
    <p>ფართობის მიხედვით</p>
<form class="area-selection-form">
    <div class="area-inputs-container">
        <label for="min-area"></label>
      <div class="input-container input-container-1"><input type="text" [value]="minAreaInput" name="min-area" class="area-input" placeholder="დან">
    <span>მ²</span>
</div>
        <label for="max-area" ></label>
       <div class="input-container"><input id="1" [value]="maxAreaInput" type="text" name="max-area" class="area-input" placeholder="მდე"><span>მ²</span></div> 
       
    </div>
    <div class="area-options">
        <div class="area-option-first">
            <p>მინ. ფართობი</p>
            <ul class="min-area-list">
                @for(area of minimumAreaArray; track area){
                    <app-minimum-area-item [area]="area" (click)="handleClickeventLeftArea($event)"></app-minimum-area-item>
                }
               
        </ul>
        </div>
        <div class="area-option-second">
            <ul class="max-area-list">
                <p>მაქს. ფართობი</p>
                @for(area of maximumAreaArray; track area){
                    <app-minimum-area-item [area]="area" (click)="handleClickeventRightArea($event)" ></app-minimum-area-item>
                }
               
        </ul>
        </div>
             </div>
   
</form>
<button (click)="handleAreasSubmission($event,'area',selectedAreaArrays)" class="select-area-btn">არჩევა</button>
</section>
