  <div class="image-container">
        <p>{{listing.is_rental===0?"იყიდება":"ქირავდება"}}</p>
        <img [src]="listing.image" [alt]="listing.city.name" class="listing-image">
       </div>
            <div class="main-container">
        <h1>{{listing.price}} ₾</h1> 
        <p>  <i class="fa-solid fa-location-pin"></i> {{listing.city.name}}, {{listing.address}}</p>
    
     <div class="additional-information">
        <ul>
         
            <li><i class="fa-solid fa-bed"></i>{{listing.bedrooms}} </li>
        <li>
         <i class="fa-solid fa-chart-area"></i> {{listing.area}} მ2
         
        </li>
        <li><i class="fa-solid fa-location-crosshairs"></i> {{listing.zip_code}}</li>
        <li></li></ul>
        </div>
  </div>


