
.listing-form{
    padding:20px 10px;
}

.listing-btns{
    display: flex;
    justify-content: end;
    gap:20px;
    border-radius: 10px;
}

  
h1{font-size: 17px;
margin-bottom: 1.2rem;
text-align: center;}


.type, .location, .flat-info{
    margin-top: 0.8rem;
    margin-bottom: 3rem;
    font-size: 14px;
    width: 100%;   
}
.sell{
    margin-right: 20px;
}
 h2{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

 .radio-sell, .radio-rent {
    vertical-align: middle;
  }
  
.address-container, .region-city-container, .flat-info-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 1rem;
}
input, select, textarea {
    height: 30px;
    padding: 0.5rem;
    margin: 0.2rem 0;
    border: 1px solid #808A93;
    border-radius: 5px;
    outline: none;
    
   }
   
.upload-listing-photo{
    height: 100px;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
   }

.region-select, .city-select, .address-input, .cost-input, .area-input, .bedrooms-input, .agent-select{
    width: 80%;
}

.description-input{
    height: 135px;
    width: 100%;
}


select{padding: 0;}
label{font-weight: bold;
font-size: 14px;}
.sell, .rent {
 accent-color: black;
 font-size: 13px;
 width: 15px;
 height: 15px;
}



small{
    font-size: 10px;
}

.postal-code-container{
    width: 100%;
    }

.zip_code{
    width: 50%;
}

.agent-p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.6rem;
}


@media screen and (min-width:500px) {
    .region-select, .city-select, .address-input, .cost-input, .area-input, .bedrooms-input, .agent-select{
        width: 400px
    }
    .zip_code{
        width: 150px
    }
    
}

@media screen and (min-width:732px) {
    
      .sell, .rent {
         font-size: 14px;
       }

       .zip_code,   .region-select, .city-select, .address-input, .cost-input, .area-input, .bedrooms-input,  .agent-select{
        width: 360px
    }
   

    .listings-container{
        width: 800px;
        margin: 0 auto;
    }
    small{
        font-size: 12px;
    }

    .address-container, .region-city-container, .area-price-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .street-container{
        width: 100%;
    }
   
    .upload-listing-photo{
        height: 120px;
       }
    
}
