<section class="agent-modal-container">
    <h1>დაამატე აგენტი</h1>
    <form [formGroup]="form" >
       <div class="agent-personal-info">
        <div class="name-info">
            <label>სახელი *</label>
            <input  type="text" formControlName="name" [ngClass]="formsubmitted&& form.controls['name'].invalid?'invalid-border':''">
            <small [ngClass]="formsubmitted|| form.controls['name'].dirty? ( form.controls['name'].invalid ? 'invalid-description' :'valid-description') :''">მინიმუმ ორი სიმბოლო</small>
        </div>
        <div class="surname-info">
            <label>გვარი *</label>
            <input  type="text" formControlName="surname" [ngClass]="formsubmitted&& form.controls['surname'].invalid?'invalid-border':''" >
            <small [ngClass]="formsubmitted|| form.controls['surname'].dirty?(form.controls['surname'].invalid?'invalid-description':'valid-description'):''">მინიმუმ ორი სიმბოლო</small>
        </div>
       </div>
       <div class="agent-contact-info">
        <div class="email-info">
            <label>ელ_ფოსტა *</label>
            <input type="email" formControlName="email" [ngClass]="formsubmitted&& form.controls['email'].invalid?'invalid-border':''">
            <small  [ngClass]="formsubmitted|| form.controls['email'].dirty?(form.controls['email'].invalid?'invalid-description':'valid-description'):''">უნდა მთავრდებოდეს &#64;redberry.ge-ზე</small>
        </div>
        <div class="tel-info">
            <label>ტელეფონის ნომერი *</label>
            <input  type="tel" formControlName="phone" [ngClass]="form.invalid&& formsubmitted && form.controls['phone'].invalid?'invalid-border':''">
            <small [ngClass]="formsubmitted|| form.controls['phone'].dirty?(form.controls['phone'].invalid?'invalid-description':'valid-description'):''">მხოლოდ რიცხვები</small>
        </div>
       </div>
       <div class="agent-picture">
        <label [ngClass]="formsubmitted|| form.controls['avatar'].dirty?(form.controls['avatar'].invalid?'invalid-description':'valid-description'):''">ატვირთეთ ფოტო *</label>
        <div class="upload-agent-photo" (click)="uploadAgentPhoto()">
            <input  type="file" #fileInput formControlName="avatar" class="agent-photo-upload-input" (change)="service.uploadPhoto($event)">
            <img ngClass="agent-photo" *ngIf="service.hide" [src]="service.agentDialogOpen?previewImage():''" alt="Agent Photo" class="uploaded-image">
            <div class="plus" [ngClass]="{'agent-photo-upload-input':service.hide}">+</div>
        </div>

       </div>
       <button (click)="closeDialog()">cancel</button>
    </form>
    <button type="button"  (click)="postAgentInfo()">send Data</button>
</section>


