
<section class="all-listings">
   @if(isBeingLoaded()){ <p>იტვირთება...</p>}
      @if(!isBeingLoaded()){
   <section class="listing-item" *ngFor="let listing of filteringListings()" (click)="handleClick(listing.id)">
   <app-listings-card [listing]="listing" ></app-listings-card>
    <br>
   </section>}
   @if(!isBeingLoaded()&&noDataFound()) {
      <p class="listing-p">ლისტინგები  არ არის ბაზაში</p>
   }
   @if(noFilteredListings()){<p class="listing-p">აღნიშნული კრიტერიუმებით ლისტინგი არ არსებობს</p>}
</section>
