.checkbox{
    /* margin-right: 10px; */
    width: 8px;
    height: 8px;
    transform: scale(1.5);
   accent-color: green;
   }

 .custom-checkbox-label{
    font-size: 12px;
    /* margin-left: 15px; */
 
 }

 @media screen and (min-width:732px) {
   .custom-checkbox-label{
      font-size: 14px;
   /* margin-left: 50px; */
   }
 }

