<section class="slider">
   <section class="slides">
    <section class="slider-item" *ngFor="let item of sliderListings()" (click)="handleClick(item.id)" [ngStyle]=
    "{ 
    transform: 'translateX('+(-index * 315) + 'px)',
    transition: 'transform 0.5s ease' 
  }">
        <app-listings-card [listing]="item" ></app-listings-card>
    </section>
   </section>
   
</section>
<button class="prev" (click)="moveSlideLeft()">&#10094;</button>
<button class="next" (click)="moveSlide()">&#10095;</button>

