<section (click)="onSubmit()" class="listings-container" >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>ლისტინგის დამატება</h2>
        <div class="type">
            <p>
                გარიგების ტიპი
            </p>
            <label for="sell">
                 <input type="radio" formControlName="is_rental"  value="0" (input)="updateListinInfoStorage('is_rental')">ყიდვა</label>
            <label for="rent"> 
                <input type="radio" formControlName="is_rental" value="1" (input)="updateListinInfoStorage('is_rental')">ქირავდება</label>
        </div>
        <div class="location">
            <div><label for="address">მისამართი <span>*</span></label><br>
            <input formControlName="address"  type="text" (input)="updateListinInfoStorage('address')">
        <p>მინიმუმ 2 სიმბოლო</p>
    </div>
            <div><label for="postal-index">საფოსტო ინდექსი <span>*</span></label><br>
                <input type="text" formControlName="zip_code" (input)="updateListinInfoStorage('zip_code')">
                <p>მხოლოდ რიცხვები<p></div>
                <div><label for="selected-region">რეგიონი</label><br>
                    <select (change)="handleRegionChange($event)" formControlName="region_id" (input)="updateListinInfoStorage('region_id')">
                        @for(region of regions(); track region){<option value={{region.id}}>{{region.name}}</option>}
                        </select>
                </div>
                <div><label for="selected-city">ქალაქი</label><br>
                    <select formArrayName="city_id" (input)="updateListinInfoStorage('city_id')">
                        @for(city of fileteredcities(); track city.id){<option value={{city.id}}>{{city.name}}</option>}
                        </select>
                </div>
        </div>
        <div class="flat-info">
            <p>ბინის დეტალები</p>
            <div class="flat-cost-div">
                <label for="cost">ფასი</label>
                <br>
                <input type="text" formControlName="price" (input)="updateListinInfoStorage('price')">
                <p>მხოლოდ ციფრები</p>
            </div>
            <div class="flat-square-div"></div>
                <label for="sqr">ფართობი</label>
                <br>
                <input type="text" formControlName="area" (input)="updateListinInfoStorage('area')">
                <p>მხოლოდ ციფრები</p>
                <div class="flat-bedroom-div">
                    <label for="beroom-amount" >საძინებლების რაოდენობა *</label>
                    <br>
                    <input type="text" formControlName="bedrooms" (input)="updateListinInfoStorage('bedrooms')">
                    <p>მხოლოდ ციფრები</p>
                </div>
                <div class="flat-description">
                    <label>აღწერა *</label>
                    <br>
                  <textarea formControlName="description" (input)="updateListinInfoStorage('description')"></textarea>
                    <p>მინიმუმ 5 სიტყვა</p>
                </div>
                <div class="upload-photo">
                    <label>ატვირთეთ ფოტო</label>
                    <input type="file" formControlName="image" (input)="updateListinInfoStorage('image')">
                </div>
                <div class="agent-field"></div>
                <div>
                    <p >აგენტი</p>
                    <div>
                        <label>აირჩიე</label>
                        <select   class="agent-select" (change)="onAddAgent($event)" formControlName="agent_id" (input)="updateListinInfoStorage('agent_id')">
                         
                                <option *ngFor="let agent of agents()" [value]="agent.id">{{agent.name}} {{agent.surname}}</option>
                            <option   value="addAgent">Add a new Agent</option>
                        </select>
                    </div>
                </div>
            </div>  
         
  <button type="button" (click)="onSubmit()">Submit</button>
    </form>
</section>
