.listings-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    padding: 1.2rem;
}

h2{font-size: 16px;}
.type, .location{
    margin-top: 0.8rem;
    margin-bottom: 3rem;
    font-size: 14px;
    border:1px solid red;
   
}
.type p{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0.4rem;
}
.type-options{
    display: flex;
    flex-direction: row;
    
}


.sell, .rent {
    margin-right: 1rem;
 accent-color: black;
 
}

.address-container{
    border:1px solid red;
    display: flex;
    justify-content: space-between;
}
input{
    height: 30px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}
small{
    font-size: 10px;
}

.postal-code-container{
    width: 35%;
    border: 1px solid red;
}
.postal-index{
    font-size: 11px;
}
.zip_code{
    width: 100%;
}

