<section class="listings-container" >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>ლისტინგის დამატება</h2>
        <div class="type">
            <p >
                გარიგების ტიპი
            </p>
            <label for="sell"> <input type="radio" formControlName="offer" value="იყიდება">ყიდვა</label>
            <label for="sell"> <input type="radio" formControlName="offer" value="ქირავდება">ქირავდება</label>
        </div>
        <div class="location">
            <div><label for="address">მისამართი <span>*</span></label><br>
            <input formControlName="address" type="text">
        <p>მინიმუმ 2 სიმბოლო</p>
    </div>
            <div><label for="postal-index">საფოსტო ინდექსი <span>*</span></label><br>
                <input type="text">
                <p>მხოლოდ რიცხვები<p></div>
                <div><label for="selected-region">რეგიონი</label><br>
                    <select (change)="handleRegionChange($event)">
                        @for(region of regions(); track region){<option value={{region.id}}>{{region.name}}</option>}
                        </select>
                </div>
                <div><label for="selected-city">ქალაქი</label><br>
                    <select >
                        @for(city of fileteredcities(); track city.id){<option value={{city.id}}>{{city.name}}</option>}
                        </select>
                </div>
        </div>
        <div class="flat-info">
            <p>ბინის დეტალები</p>
            <div class="flat-cost-div">
                <label for="cost">ფასი</label>
                <br>
                <input type="text">
                <p>მხოლოდ ციფრები</p>
            </div>
            <div class="flat-square-div"></div>
                <label for="sqr">ფართობი</label>
                <br>
                <input type="text">
                <p>მხოლოდ ციფრები</p>
                <div class="flat-bedroom-div">
                    <label for="beroom-amount">საძინებლების რაოდენობა *</label>
                    <br>
                    <input type="text">
                    <p>მხოლოდ ციფრები</p>
                </div>
                <div class="flat-description">
                    <label>აღწერა *</label>
                    <br>
                  <textarea></textarea>
                    <p>მინიმუმ 5 სიტყვა</p>
                </div>
                <div class="upload-photo">
                    <label>ატვირთეთ ფოტო</label>
                    <input type="file">
                </div>
                <div class="agent-field"></div>
                <div>
                    <p >აგენტი</p>
                    <div>
                        <label>აირჩიე</label>
                        <select  class="agent-select" (change)="cityService.onAddAgent($event)">
                            <!-- @for (agent of agents(); track agent) {
                                <option value="agent.name">{{agent.name}} {{agent.surname}}</option>
                               
                            } -->
                                <option *ngFor="let agent of agents()" [value]="agent.id">{{agent.name}} {{agent.surname}}</option>
                            <option  value="addAgent">Add a new Agent</option>
                        </select>
                    </div>
                </div>
            </div>  
         
  <button type="submit">Submit</button>
    </form>
</section>
