.filters-container{
    background-color: aquamarine;
   position: relative;
   padding: 10px;
   margin-top: 10px;
  }
.filters-container ul{
    display: flex;
    flex-direction: row;
    gap: 5px;
    list-style: none;
    flex-wrap: wrap;
   
    background-color: red;
}
.item{
font-size: 12px;
padding: 5px;
border: 1px solid #DBDBDB;
border-radius: 15px;
word-wrap: break-word; 
}

@media screen and (min-width:732px) {
    .item{
        padding: 8px;}
}
