.filters-container{
   /* height: 50px; */
   border:1px solid rgb(13, 255, 0);
   position: relative;
   /* z-index: 0; */
   
   
}
.filters-container ul{
    display: flex;
    flex-direction: column;
    /* grid-template-rows: repeat(auto-fill, minmax(0, 1fr)); */
    gap: 10px;
    list-style: none;
    /* z-index: 0; */
}
.item{
/* color: red; */
font-size: 12px;
    padding: 10px;
align-items: center;
border: 1px solid #DBDBDB;
border-radius: 15px;
}

/* .chosen-fileters-container{
    margin-top: 20px;
    z-index: 0;
   } */