*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
    main{
        width: 100%;
        border:1px solid blue;
        display: flex;
position: relative;
        
    }


   .region-form, .prices-form, .area-form, .bedroom-form{
    
    width: 75vw;
   background-color: #ffffff;
    
    top:50px;
    z-index: 1;
    position: absolute;
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
   }

  

.region-form p, .prices-form p, .area-form p, .bedroom-form p{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
    border:1px solid red
}


.select-region-btn, .select-area-btn, .select-bedroom-btn{
    margin-top: 20px;
    width: 77px;
    height: 33px;
    float: right;
    background-color: #F93B1D;
    color: white;
    border: none;
   
 border-radius: 8px;
    align-self: flex-end;
    align-items: center;
}




.price-inputs-container, .area-inputs-container{
    width: 100%;
  display: flex;
    flex-direction: row; 
    
    }




.price-input, .area-input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    outline: none
   
}


.price-options, .area-options{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    border: 1px solid blue;
    
}
.price-option-first ul, .price-option-second ul, .area-option-first ul, .area-option-second ul{
    list-style: none;
    
   
}
 
.price-option-first ul li, .price-option-second ul li, .area-option-first ul li, .area-option-second ul li{
    padding-top: 10px;
    color: #2D3648;
    font-size: 13px;
    }

.price-option-first, .price-option-second, .area-option-first, .area-option-second{
    border: 1px solid red;
    width: 50%;
}
.input-container{
  width: 50%;
  height: 32px;
  border: 1px solid #808A93;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.input-container-1{
  margin-right: 17px;
}


.listing-btns, .agent-btns{
    
  float: right;
  display: flex;
  gap: 10px;
  
}

.submit{ background-color: #F93B1D;
  color: white;
border: none;}
.cancel{
  color: #F93B1D;
  background-color: white;
  border:1px solid #F93B1D;
}

/* styles.css or your component's stylesheet */
.blur {
    filter: blur(2px);
    pointer-events: none; /* Optional: Prevents interaction with blurred content */
    /* background-color: red; */
  }



  .upload-agent-photo, .upload-listing-photo {
    cursor: pointer; 
    border: 2px dashed #cccccc;
    padding: 20px; 
    text-align: center;
    color: #666; 
    display: flex;
    justify-content: center;
    
  }
  .upload-agent-photo:hover, .upload-listing-photo:hover {
    background-color: #f0f0f0; /* Example: hover effect */
  }
  .agent-picture, .listing-picture{
    border: 1px solid red;
  }
  .agent-photo-upload-input, .listing-photo-upload-input{
    display: none;
    z-index: 0;
  }
  
  .plus{
    height: 20px;
    width: 20px;
    border: 1px solid #525355;
    border-radius: 50%;
  }

  input.ng-invalid.ng-dirty{
    border:1px solid #F93B1D
  }

  .invalid-description{
    color: #F93B1D
  }
.invalid-border{
    border:3px solid #F93B1D
}
  .valid-description{
    color: #45A849
  }

  .agent-photo, .listing-photo{
    height: 50px;
    width: 50px;
    border: 1px solid #F93B1D;
    z-index: 1;
  }