*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    border-bottom: 1px solid #DBDBDB;
    height:100px;
 display: flex;
 align-items: center;
}
header img{
    margin-left: 162px;}
    .listings-navigation-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       
        
    }
    main{
        width: 100%;
        padding: 50px 162px;
    }
    .filter-lists{
        padding: 10px;
       display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        border: 1px solid #DBDBDB;
        border-radius: 10px;
        
       
    
    }
   
    .filter-item i{
        font-size: 10px;
    }
    .filter-item p{
       font-size: 20px;
        font-weight: bold;
        padding: 5px;
        border-radius: 5px;
    }
    .filter-item p:hover{
        background-color:#DBDBDB; 
    }

    .filter-options{
        width: 50%;
    }

    .add-btns-container{
        height: 70px;
        
    }
  .add-listing-btn, .add-agent-btn {
    font-size: 22px;
    
    border-radius: 10px;
    padding: 12px 20px;
    font-weight: bold;
    border: none;
   }
   .add-listing-btn{
    background-color: #F93B1D;
    color: white;
    margin-right: 20px;
    
   }
   .add-agent-btn{
    color: #F93B1D;
    background-color: #fff;
    border: 2px solid #F93B1D ;
   }
   
   .chosen-fileters-container{
    margin-top: 20px;
    z-index: 0;
   }

   .region-form, .prices-form, .area-form, .bedroom-form{
    
    width: 40%;
   background-color: #fff;
    margin-top: -40px;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
   }

  
   .regions-selection-form{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, auto);
    gap: 10px;

}
.region-form p, .prices-form p, .area-form p, .bedroom-form p{
    font-weight: bold;
    margin-bottom: 20px;
    border:1px solid red
}
.checkbox{
   margin-right: 10px;
   transform: scale(1.5);
  accent-color: green;


}
.checkbox:checked{
    background-color: #F93B1D;
}
.select-region-btn, .select-area-btn, .select-bedroom-btn{
    margin-top: 20px;
    width: 77px;
    height: 33px;
    float: right;
    background-color: #F93B1D;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    align-self: flex-end
}
.prices-form{
    width: 20%;
    left: 16%;
    padding: 24px;
}
.area-form{
    width: 20%;
    left: 28%;
    padding: 24px;
}
.bedroom-form{width: 15%;
left: 35%;
padding: 24px;
}


.price-inputs-container, .area-inputs-container{
    width: 100%;
  display: flex;
    flex-direction: row; 
    
    }

.input-container{
    width: 50%;
    height: 42px;
    border: 1px solid #808A93;;
    display: flex;
    align-items: center;
    padding-right: 10px;
}


.price-input, .area-input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    outline: none
   
}
.bedroom-input{
    border: 1px solid #808A93;
    border-radius: 6px;
    width:40px;
    height: 42px;
    padding: 15px;
}
.input-container-1{
    margin-right: 17px;
}
.price-options, .area-options{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    border: 1px solid blue;
    
}
.price-option-first ul, .price-option-second ul, .area-option-first ul, .area-option-second ul{
    list-style: none;
    
   
}
 
.price-option-first ul li, .price-option-second ul li, .area-option-first ul li, .area-option-second ul li{
    padding-top: 10px;
    color: #2D3648;
    }

.price-option-first, .price-option-second, .area-option-first, .area-option-second{
    border: 1px solid red;
    width: 50%;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* styles.css or your component's stylesheet */
.blur {
    filter: blur(2px);
    pointer-events: none; /* Optional: Prevents interaction with blurred content */
    /* background-color: red; */
  }



  .upload-agent-photo {
    cursor: pointer; 
    border: 2px dashed #ccc;
    padding: 20px; 
    text-align: center;
    color: #666; 
    display: flex;
    justify-content: center;
  }
  .upload-agent-photo:hover {
    background-color: #f0f0f0; /* Example: hover effect */
  }
  .agent-picture{
    border: 1px solid red;
  }
  .agent-photo-upload-input{
    display: none;
  }
  
  .plus{
    height: 20px;
    width: 20px;
    border: 1px solid #525355;
    border-radius: 50%;
  }