
<section *ngIf="!isDeleted()" >
    <p>bla</p>
    <section>
        <div>
            <img [src]="item().image" [alt]="">
            <small></small>
        </div>
        <div>
        <h1>{{item().price}} ₾</h1> 
        <p><i class="fa-solid fa-location-pin"></i>{{item().city?.name}}, {{item().address}}</p>
    
     <div>
        <ul>
         
            <li><i class="fa-solid fa-bed"></i>{{item().bedrooms}} </li>
        <li>
         <i class="fa-solid fa-chart-area"></i> {{item().area}} მ2
         
        </li>
        <li><i class="fa-solid fa-location-crosshairs"></i> {{item().zip_code}}</li>
        <li></li></ul>
        </div>
        <div>
<div>
    <img [src]="item().agent?.avatar" [alt]="item().agent?.name">
   <ul><li>{{item().agent?.name}} {{item().agent?.surname}}</li>
   <li></li>აგენტი</ul>
</div>
<div>
    <ul>
        <li><i class="fa-regular fa-envelope"></i>{{item().agent?.email}}</li>
    <li><i class="fa-solid fa-phone"></i> {{item().agent?.phone}}</li>
    </ul>
</div>
<button (click)="openConfimDialog()">ლისტინგის წაშლა</button>
        </div>
        </div>
    </section>
</section>
    <p *ngIf="isDeleted()">ლისტინგი წარმატებით წაიშალა</p>
    <!-- <section >
        <div *ngFor="let item of mainService.sliderListings()">item</div>
    </section> -->
<app-slider></app-slider>
